@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700;800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root {
  --bg-body: #799698;
  --paper-bg: #ededed;
  --hover-color: #d6d6d6;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.50);
  --box-shadow-inset: inset 0 4px 6px rgba(0, 0, 0, 0.50);
  --yellow-color: #fad643;
}

.paper-bg {
  background-color: var(--paper-bg);
  background-image: url(images/paper-texture.jpg);
  width: 300px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.holes,
.holes-board {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 10px;
}

.holes-board {
  margin-top: 0;
  margin-bottom: 10px;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: var(--bg-body);
  border-radius: 50px;
  box-shadow: var(--box-shadow-inset);
}

body {
  margin: 0;
  background-color: var(--bg-body);
}

header {
  margin: 10px;
  font-size: 1.875rem;
  font-weight: 500;
  text-align: center;
}

header p {
  color: var(--yellow-color);
  font-weight: 600;
}

.start-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.start-screen p {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

main {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-top: 0;
}

input,
button {
  margin: 8px;
  border-radius: 30px;
  border: 1px solid black;
  cursor: pointer;
  padding: 5px;
  background-color: var(--hover-color);
}

button:hover {
  text-decoration: underline;
  text-decoration-color: black;
}

input:valid {
  border-color: green;
}

.game-board {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  gap: 10px;
  margin: 15px;
  padding: 10px;
  margin: 0;
}

.board {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;

}

table,
td,
tr {
  border: 1px solid black;
  width: 180px;
  height: 80px;
  border-radius: 10px;
}

table {
  border: none;
  margin-top: 20px;
}

td:hover {
  background-color: var(--hover-color);
}

.cell {
  text-align: center;
  font-size: 1rem;
  padding: 5px;
  font-weight: 600;
}

.winner {
  font-weight: 700;
  font-size: 1rem;
  color: #606c38;
  margin: 0;
}

.againBtn {
  margin: 0;
  display: none;
}

@keyframes wordAppear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bubblingUp {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.bubble-word {
  animation: bubblingUp 1s forwards;
}

.appear-word {
  animation: wordAppear 1s ease-in normal forwards;
}